html {
    line-height: 1.15;
}

p {
    font-size: 18px;
    margin: 5px 0 10px;
}

h2 {
    font-size: 36px;
    margin: 5px 0 10px;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

section {
    padding: 90px 15px;
}

.site-header {
    z-index: 10;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #FFF;
}


.site-header .nav-logo {
    align-self: flex-start;
    padding: 10px 5px 5px;
}

.site-header .nav-logo a img {
    max-width: 314px;
    height: auto;
}


.site-header .nav-links {
    display: block;
    width: 100%;
    background-color: #FFF;
}


.site-header .nav-links ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.site-header .nav-links ul li {
    list-style: none;
}

.site-header .nav-links ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 400;
    color: #7f53ac;
    letter-spacing: 1.2px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.site-header .nav-links ul li:hover {
    background-color: #efe0ff;
}

.site-header button {
    cursor: pointer;
    background: transparent;
    border: none;
    max-width: 50px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-links .active {
    display: block;
}

/* Banner section */

.banner {
    padding: 90px 15px;
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    text-align: center;
    color: #FFFFFF;
}

.banner .banner--content {
    max-width: 1400px;
    height: auto;
    display: block;
    margin: 0 auto;
    background: url("./assets/svg/soap.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.banner .banner--content .name {
    text-transform: uppercase;
}

.banner .banner--content .designation {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.banner .banner--content .tagline {
    font-size: 18px;
}

/* end style banner */

/* Start promo section */
.promo {
    background-color: #DEF0FF;
}

.promo .content h2 {
    font-size: 36px;
    font-weight: 300;
    color: #222;
    text-shadow: 0 1px 2px #222;
}

.promo .content h2 span.orange {
    font-weight: 700;
}

.promo .content p {
    font-size: 22px;
}

.bold {
    font-weight: 700;
}

.orange {
    color: #FF5100;
}

/* End promo section */